* {
    padding: 0px;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
}
/* banner */

.carousel {
    position: relative;
    top: 0px;
    padding-top: 93px;
}

.carousel-control-prev,
.carousel-control-next {
    right: 0;
    top: 75px;
}

/* services */

#service {
    background-image: url(../assets/slics/services-background-iamges.jpg);
    position: relative;
    padding: 20px 0px;
}

#service img {
    /*width: 250px;*/
    width: 100%;
}

.coustom-service-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.coustom-service-content p {
    font-size: 15px;
    line-height: 23px;
    padding: 10px 68px;
    font-family: 'montserrat', sans-serif;
    color: #292929;
    margin-bottom: 0px;
}



/* product category */

/* heading */

.product-header p {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    color: #414141;
}


/*.service-our {
    color: black;

}*/

.product-header .right {
    color: #3787dc;
}

.product-header .fa-circle {
    font-size: 12px;
    position: relative;
    top: -6px;
    color: #cf8814;
}

.product-header .fa-circle:first-child,
.product-header .fa-circle:last-child {
    font-size: 8px;
    position: relative;
    top: -7px;
}

.product-header .left::before,
.product-header .right::after {
    content: ' ';
    width: 23px;
    height: 3px;
    background-color: #cf8814;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-left: -67px;
}

.product-header .right::after {
    margin-left: 40px;
}

#coustom_product_category > .container > .row > .col-lg-4 {
    margin: 32px 0px;
}

#coustom_product_category {
    background-color: #e8f5fa;
    padding: 40px 0px;
}

.coustom-product-img {
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    z-index: 1 !important;
    position: relative;
    transition: all 0.8s;
    border-radius: 2px;
    border: 1px solid rgba(161, 161, 161, 0.97);
}

/* product shell */

.cont {
    overflow: hidden;
    width: 322px;
    position: relative;
    padding-bottom: 29px;
    box-shadow: 0px -1px 11px 1px rgba(41, 40, 40, 0.2);
}

.cont:hover img {
    transform: scale(1.15);
    background-color: red;
    filter: brightness(0.5);

}

.coustom-product-img ~ p {
    font-size: 23px;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    padding: 2px 0px;
    background-color: #3088e9;
    color: white;
    width: 100%;
    display: block;
    margin: auto;
    z-index: 100 !important;
    position: absolute;
    bottom: 0px;
    text-transform: capitalize;
}

.effect {
    position: absolute;
    top: 0px;
    left: -100px;
    z-index: 100;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.cont:hover .effect {
    left: 0px;
    visibility: visible;
    opacity: 1;
}

.effect i {
    border: 2px solid #5fb0ff;
    overflow: hidden;
    padding: 0px 0px;
    width: 135px;
    border-radius: 4px;
    font-size: 35px;
    position: absolute;
    top: 65%;
    left: 50%;
    color: #ffffff;
    background-color: #2E8AAA;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.effect p {
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    text-align: center;
    margin-top: 60px;
    color: white;
    background-color: rgba(40, 40, 40, 0.85);
    padding: 0px 0px;
    text-transform: capitalize;
    border: 2px solid #56a5fc;
    border-right: 0px;
    border-left: 0px;
}

.coustom-par-fix > .effect > p {
    font-size: 25px;
    line-height: 26px;
    padding: 5px 0px;
}


.coustom-par-fix p {
    font-size: 16px;
    padding: 2px 0px;
}

.effect i:before {
    box-sizing: border-box;
    margin-left: -42px;
    transition: all 0.3s ease-out;
}

.effect i:after {
    content: 'See More';
    color: white;
    display: inline-block;
    position: absolute;
    font-size: 24px;
    width: 160px;
    text-align: center;
    line-height: 34px;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    margin-left: 0px;
    padding-bottom: 10px;
    transition: all 0.3s;

}

.effect i:hover:before {
    margin-left: 55px;
}

.effect i:hover:after {
    margin-left: 35px;
}


/* resposive */

@media only screen and (min-width:990px) and (max-width:1200px) {
    /* .container width to prefent mix up */
    #coustom_product_category .container {
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (min-width:500px) and (max-width:990px) {

    /* services */
    #service {
        padding: 100px 0px;
    }

    .coustom-service-content p {
        padding: 10px 0px;
        font-size: 14px;
    }

    .service_img {
        display: none;
    }

}

@media only screen and (min-width:280px) and (max-width:500px) {

    /* banner */
    .carousel {
        padding-top: 76.68px;
    }
    .carousel-item img {
        width: 152%!important;
        margin-left: -27%;
    }

    .carousel ol {
        display: none;
    }

    /* services */
    #service {
        padding: 70px 0px;
    }

    .coustom-service-content p {
        padding: 6px 39px;
        font-size: 8px;
        line-height: 12px;
    }

    #service img {
        display: none;
    }

    /* product */
    .product-header p {
        font-size: 21px;
    }
    .product-header .fa-circle {
        font-size: 6px;
    }
    .product-header .fa-circle:first-child,
    .product-header .fa-circle:last-child {
        font-size: 3px;
    }
    .product-header .left::before,
    .product-header .right::after {
        width: 16px;
        height: 2px;
        margin-left: -39px;
        margin-top: -2px;
    }

    .product-header .right::after {
        margin-left: 24px;
    }

    /* creating space */
    #coustom_product_category {
        padding-top: 25px;
    }

    .cont {
        width: 260px;
    }

    /* product whell margin to be decereased */
    #coustom_product_category > .container > .row > .col-lg-4 {
        margin: 13px 0px;
    }

    .coustom-par-fix p {
        padding: 2px 0px;
    }
}
