<!-- Developed by D4Club.com -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Varun Engineering Works</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/partials/loader/loader.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/partials/header/header.css">
    <link rel="stylesheet" href="../public/partials/fotter/fotter.css">
    <link rel="stylesheet" type="text/css" href="../public/enquiry/enquiry.css">


</head>

<body>

    {{> header}}

    <!-- background -->
    <section id="enquiry">
        <div class="enquiry_wrapper">
            <div class="alert_wrapper greet fade">
                <div class="alert  alert-success">
                    <p><strong>Thankyou ! </strong> we will be back to you soon.</p>
                </div>
            </div>

            <div class="alert_wrapper  required fade">
                <div class="alert alert-danger">
                    <p><strong>* </strong> fields are required.</p>
                </div>
            </div>
            <div class="container">
                <div class="row">


                    <div class="col-md-12 productName">
                        <h6>ENQUIRY</h6>
                        {{msg}}
                        <p>3 - Jaw &amp; 6 - Jaw Accuracy Adjustment Chucks</p>
                    </div> 

                    <div class="left-side col-md-5 col-sm-12 col-12">
                        <form id="contact" method="post" action="send">
                            <div class="form-row">
                                <div class="  form-group col-sm-12 col-12">
                                    <input type="text" class="form-control" id="name" name="fullName" required="">
                                    <label class="required_sign" for="inputAddress">Name</label>
                                </div>
                                <div class="  form-group col-sm-12 col-12">
                                    <input type="email" class="form-control" id="inputEmail" name="mailId" required="">
                                    <label class="required_sign" for="inputEmail">Email</label>
                                </div>
                                <div class="  form-group col-sm-12 col-12">
                                    <input type="text" class="form-control" id="address" name="address">
                                    <label for="inputAddress">Address</label>
                                </div>
                                <div class="  form-group col-md-6 col-sm-6 col-12">
                                    <input type="text" class="form-control" id="city" name="city" required="">
                                    <label class="required_sign" for="inputCity">City</label>
                                </div>
                                <div class="form-group col-md-1 col-sm-0 col-0 spacer"></div>
                                <div class="  form-group col-md-5 col-sm-6 col-12">
                                    <input type="text" class="form-control" id="state" name="state">
                                    <label for="inputState">State</label>
                                </div>
                            </div>
                    </div>
                    <div class="right-side col-md-7 col-sm-12 col-12">
                        <div class="form-row">
                            <div class="  form-group col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="country" name="country" required="">
                                <label class="required_sign" for="inputCountry">Country</label>
                            </div>
                            <div class="  form-group col-md-1 col-sm-0 col-0 spacer"></div>
                            <div class="  form-group col-md-5 col-sm-6 col-12">
                                <input type="text" class="form-control" id="zip" name="zipCode">
                                <label for="inputZipCode">Zip Code</label>
                            </div>

                            <div class="  form-group col-sm-12 col-12">
                                <textarea class="form-control" id="inputMessage" rows="3" name="message"></textarea>
                                <label for="exampleFormControlTextarea1">Message</label>
                            </div>

                            <div class="animate_area">
                                <button type="submit">
                                        <p>Send</p>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><path id="paper-plane-icon" d="M462,54.955L355.371,437.187l-135.92-128.842L353.388,167l-179.53,124.074L50,260.973L462,54.955zM202.992,332.528v124.517l58.738-67.927L202.992,332.528z"></path>
                                        </svg>
                                    </button>
                            </div>


                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- fotter -->

    {{> fotter}}


    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- coustom script -->
    <script src="../public/enquiry/enquiry.js"></script>
    <script src="../public/partials/header/header.js"></script>
</body>

</html>
