<section id="compatible">
        <p>Please use another device <br>This device is too small for this website..</p>
    </section>

    <!-- loader -->

    <div class="loader_container fixed-top">
        <p>Varun Engineering Work</p>
        <div class="loader"></div>
        <p>Loading . . .</p>
    </div>

    <!-- navbar/header -->

    <header>
        <!-- ISO -->
        <section id="iso">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-8">
                        <p>An ISO 2000:2022 certified company</p>
                    </div>
                    <div class="col-lg-2 col-4">
                        <div class="row">
                            <div class="social_media">
                                <a href="#" class="col-lg-3"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="col-lg-3"><i class="fab fa-twitter-square"></i></a>
                                <a href="#" class="col-lg-3"><i class="fab fa-linkedin"></i></a>
                                <a href="#" class="col-lg-3"><i class="fab fa-google-plus-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- nav -->
        <nav>
            <div class="container">
                <div class="logo-brand">
                    <img src="../public/partials/header/images/logo.png" alt="logo image">
                </div>

                <span class="navigation_background">
                    
                </span>

                <div class="navigation">
                    <ul type="none">
                        <li><a href="/">Home</a></li>
                        <li><a href="/#coustom_product_category">Products</a></li>
                        <li><a href="/enquiry">Enquiry</a></li>
                        <li><a href="/#about_us">About us</a></li>
                        <li><a href="/#contact_us">Contact us</a></li>
                    </ul>

                </div>

                <div class="menu noSelect">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </div>
        </nav>
    </header>