<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/partials/loader/loader.css">
    <title>Products</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/partials/header/header.css">
    <link rel="stylesheet" type="text/css" href="../public/home/style.css">
    <link rel="stylesheet" type="text/css" href="../public/products/Magnetic_seprator/assets/style.css">
    <link rel="stylesheet" href="../public/partials/fotter/fotter.css">
    <link rel="stylesheet" href="../public/products/assests/product.css">
</head>

<body>

    {{> header}}

    <!-- jumbotron -->
    <section id="jumbotron">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1><i class="fas fa-cogs fa-xs"></i>Magnetic Products<i class="fas fa-cogs fa-xs"></i></h1>
                </div>
            </div>
        </div>
    </section>

    <!-- product category -->

    <section id="coustom_product_category">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/one.html" class="cont mx-auto d-block">
                        <span class="product_image first_block"></span>
                        <p>MAGNETIC V BLOCK</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/two.html" class="cont mx-auto d-block">
                        <span class="product_image second_block"></span>
                        <p>HARDENED AND GROUND V BLOCKS</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/three.html" class="cont mx-auto d-block">
                        <span class="product_image third_block"></span>
                        <p>HARDENED AND GROUND V BLOCK WITH CLAMP</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/one.html" class="cont mx-auto d-block">
                        <span class="product_image fourth_block"></span>
                        <p>PARALLEL BLOCKS</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/two.html" class="cont mx-auto d-block">
                        <span class="product_image fife_block"></span>
                        <p>HARDENED &amp; GROUND BEVELLED EDGE TRY -SQUARE</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/three.html" class="cont mx-auto d-block">
                        <span class="product_image six_block"></span>
                        <p>ROLLER BEARING – V BLOCK</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/three.html" class="cont mx-auto d-block">
                        <span class="product_image sevent_block"></span>
                        <p>CAST IRON CUBES</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/three.html" class="cont mx-auto d-block">
                        <span class="product_image eight_block"></span>
                        <p>PERMANENT MAGNETIC LIFTER</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/three.html" class="cont mx-auto d-block">
                        <span class="product_image nine_block"></span>
                        <p>PERMANENT MAGNETIC CHUCK CLOSE POLE TYPE (HEAVY DUTY)</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/three.html" class="cont mx-auto d-block">
                        <span class="product_image ten_block"></span>
                        <p>PERMANENT MAGNETIC CHUCK STANDARD POLE TYPE (HEAVY DUTY)</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/three.html" class="cont mx-auto d-block">
                        <span class="product_image eleven_block"></span>
                        <p>ELECTROMAGNETICRECTANGULAR CHUCK IS : 8710 - 1978</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="/public/products/Magnetic_seprator/three.html" class="cont mx-auto d-block">
                        <span class="product_image tweleve_block"></span>
                        <p>ELECTROPERM HEAVY DUTY CHUCK (70 x 70) Quard Pole</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
        </div>
    </section>

    <!-- fotter -->

    {{> fotter}}

    
    <script src="../public/products/assests/script.js"></script>
</body>

</html>
