<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/partials/loader/loader.css">
    <title>Products</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/partials/header/header.css">
    <link rel="stylesheet" type="text/css" href="../public/home/style.css">
    <link rel="stylesheet" type="text/css" href="../public/products/Pipe_Threding/assets/style.css">
    <link rel="stylesheet" href="../public/partials/fotter/fotter.css">
    <link rel="stylesheet" href="../public/products/assests/product.css">
</head>

<body>

    {{> header}}

    <!-- jumbotron -->
    <section id="jumbotron">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1><i class="fas fa-cogs fa-xs"></i>Pipe Threding machines &amp; Pipe Benders<i class="fas fa-cogs fa-xs"></i></h1>
                </div>
            </div>
        </div>
    </section>

    <!-- product category -->

    <section id="coustom_product_category">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a href="../public/products/Pipe_Threding/one.html" class="cont mx-auto d-block">
                        <span class="product_image first_block"></span>
                        <p>RATCHET PIPE THREADER</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="../public/products//Pipe_Threding/two.html" class="cont mx-auto d-block">
                        <span class="product_image second_block"></span>
                        <p>ROTARY PIPE CUTTER</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="../public/products//Pipe_Threding/three.html" class="cont mx-auto d-block">
                        <span class="product_image third_block"></span>
                        <p>TUBE ROLLER BENDER</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="../public/products//Pipe_Threding/four.html" class="cont mx-auto d-block">
                        <span class="product_image fourth_block"></span>
                        <p>PORTABLE CONDUIT PIPE BENDER</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="../public/products//Pipe_Threding/five.html" class="cont mx-auto d-block">
                        <span class="product_image fifth_block"></span>
                        <p>PORTABLE ELECTRIC PIPE THREADER</p>
                        <span class="effect">
                           <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- fotter -->

    {{> fotter}}

    
    <script src="../public/products/assests/script.js"></script>
</body>

</html>
