body {
    padding-top: 93px;
}

#jumbotron, .jumbotron {
    background-color: #c8e8f2;
}

h1 {
    font-size: 34px;
    font-family: 'roboto', sans-serif;
    color: #2c3e50;
    text-align: center;
    font-weight: 400;
}

#product .image-holder {
    border: 1px solid grey;
}

#product img {
    width: 540px;
    display: block;
    margin: auto;
    padding: 40px 0px;
}

#product .ed-image {
    width: 350px;
}

#product h6 {
    margin-top: 30px;
    font-size: 34px;
    text-transform: capitalize;
    color: #353535;
}

#product p {
    margin-top: 15px;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
}

/* Enquiry */
.enquiry {
    position: fixed;
    top: 30%;
    right: 3%;
    z-index: 1000;
}

.enquiry a {
    padding: 2px 5px;
    background-color: red;
    color: white;
    text-decoration: none;
    border: none;
}

/* table */

/*.overflowed {
    overflow-x:auto;
}*/

#table {
    padding: 60px 0px;
    font-size: 17px;
}

table {
    display: block;
    margin: auto !important;
}

.table td,
.table th {
    text-align: center;
    border: 1px solid rgba(44, 43, 45, 0.17);
}

thead td {
    border-color: rgba(160, 160, 160, 0.14) !important;
}

.space-fixer {
    padding: 2px 4px !important;
}

table p {
    margin-bottom: 0px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.coustom-fix td,
.coustom-fix {
    padding: 0px !important;
    font-size: 14px;
    text-align: center;
}

.short-p {
        display: none;
    }

.table td,
.table th {
    vertical-align: middle;
    border-top: 0px;
}

.head-color {
    background-color: #2c2b2d;
    color: white;
}


@media only screen and (min-width:750px) and (max-width:1000px) {

    #table .container {
        max-width: 100%;
    }
    table {
        font-size: 14px;
    }

    .coustom-fix {
        font-weight: 500;
    }

    .table td,
    .table th {
        padding: 8px;
    }
}

@media only screen and (min-width:600px) and (max-width:750px) {

    #table .container {
        max-width: 100%;
    }
    table {
        font-size: 10px;
    }

    .table td,
    .table th {
        padding: 3px;
    }

    .coustom-fix {
        font-weight: 200;
    }
    
    .long-p {
        display: none;
    }
    .short-p {
        display: block;
    }
}
