/* ISO */

#iso {
    background-color: #0099cb;
    padding: 5px 0px;
    position: fixed;
    z-index: 200;
    width: 100%;
    transition: all 0.3s ease-out;
}

.IsoEffect {
    margin-top: -25px;
}

#iso p {
    font-family: "roboto", sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
    transform: translateX(11%);
}

.social_media {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    margin-right: 15%;
}

.social_media a {
    padding: 0px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-right: 10px;
}

/* Navbar-header */

.fixed-top {
    overflow: hidden;
}

nav {
    background-color: white;
    display: block;
    margin-top: 32px;
    transition: all 0.3s ease-out;
}

.navEffect {
    margin-top: 0px;
    box-shadow: 0px 1px 13px 0px #6f6f6f;
    background-color: #4494eb;
    background-color: #4285f4;
}

nav:after {
    content: ' ';
    display: table;
    clear: both;
}

.logo-brand img {
    padding: 10px 0px;
    width: 95px;
    float: left;
    transition: all 0.3s ease-out;
}

.imgEffect {
    filter: brightness(0) invert(1);
}

nav .container {
    position: relative;
    transition: all 0.3s;
}

.allWidth {
    max-width: 95%;
}

.navigation {
    position: absolute;
    right: 0px;
    transform: translateY(3px);
}

.navigation ul {
    margin-bottom: 0px;
}

.navigation ul li {
    display: inline-block;
    line-height: 53px;
    padding: 0px 15px;
    transition: all 0.3s ease;
}

.navigation ul li a {
    text-decoration: none !important;
    color: #292929;
    font-size: 21px;
    transition: all 0.3s ease;
}

.navigation ul li:hover {
    background-color: #136dcf;
    color: #ffffff;
}

.navigation ul li:hover > a {
    color: #ffffff !important;
}

/* menu */

/* = = =  Menu = = = */

.menu {
    width: 40px;
    position: absolute;
    right: 15px;
    top: 16px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.noSelect {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
}

.menu span {
    width: 100%;
    height: 4px;
    display: block;
    background-color: #4285f4;
    margin: 0px;
    border-radius: 5px;
    transition: all 0.35s;
}

.menu span:nth-child(2) {
    width: 60%;
    margin: 6px 0px;
    transition: all 0.45s cubic-bezier(0.58, -1, 0.25, 1);
}

.menu span:last-child {
    width: 85%;
    margin: 6px 0px;
    transition: all 0.35s;
}

.menu:hover span:nth-child(2) {
    width: 100%;
}

.menu:hover span:last-child {
    width: 100%;
}

.activeMenu span:first-child {
    transform: translate(0%, 260%) rotate(40deg);
    width: 100%;
}

.activeMenu span:nth-child(2) {
    opacity: 0;
    margin-left: 120%;
    width: 100%;
}

.activeMenu span:last-child {
    transform: translate(0%, -260%) rotate(-40deg);
    width: 100%;
}

.activeMenu:hover span:last-child {
    width: 100%;
}



@media only screen and (min-width:500px) and (max-width:990px) {
    #iso p {
        transform: translateX(25%);
    }
}

@media only screen and (min-width:280px) and (max-width:990px) {

    /* nav */
    .navigation ul {
        visibility: hidden;
    }

    .logo-brand img {
        width: 85px;
    }

    /* menu */
    .menu {
        display: block;
        top: 14px;
    }
}


@media only screen and (min-width:280px) and (max-width:500px) {

    /* iso fix */
    #iso {
        padding: 2px 0px;
    }
    #iso p {
        font-size: 11px;
    }

    .social_media a {
        font-size: 15px;
        margin-right: 10px;
        margin-right: 4px;
    }
    /* nav margin fix */
    nav {
        margin-top: 20px;
    }
}
