#enquiry {
    display: block;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(125, 121, 121, 0.35), rgba(13, 8, 8, 0.75)), url("images/scenery%201.jpeg");
    background-size: cover;
}
