#jumbotron,
.jumbotron {
    background-color: #c8e8f2;
}

h1 {
    font-size: 34px;
    font-family: 'roboto', sans-serif;
    color: #2c3e50;
    text-align: center;
    font-weight: 400;
}

#jumbotron i {
    color: #e48743;
    font-size: 20px;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* product */

#coustom_product_category {
    background-color: #e8f5fa;
    background-color: #ffffff;
    padding: 40px 0px;
}

.product_image {
    background: url("../1/images/one.jpg") no-repeat center;
    width: 322px;
    height: 214px;
    display: block;
    transition: all 0.25s;

}

.first_block {
    transform: scale(1.5);
}

.second_block {
    background: url("../2/images/one.jpg") no-repeat center;
    transform: scale(1.3);
}

.third_block {
    background: url("../3/images/one.png") no-repeat center;
    transform: scale(1.3);
}

.fourth_block {
    background: url("../4/images/one.jpg") no-repeat center;
}

.fifth_block {
    background: url("../5/images/one.jpg") no-repeat center;
}

.sixth_block {
    background: url("../6/images/one.jpg") no-repeat center;
    background-color: #012f53 !important;
}

.seventh_block {
    background: url("../7/images/seven.jpg") no-repeat center;
    background-color: #012f53 !important;
}

.eighth_block {
    background: url("../8/images/one.png") no-repeat center;
    background-color: #012f53 !important;
}

.ninth_block {
    background: url("../9/images/one.jpg") no-repeat center;
    background-color: #012f53 !important;
}

.tenth_block {
    background: url("../10/images/one.jpg") no-repeat center;
}



.effect i {
    top: 50%;
}

#coustom_product_category p {
    font-size: 17px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cont:hover img,
.cont:hover .product_image {
    transform: scale(1.15) rotate(6deg);
    filter: brightness(0.5);
    background-color: rgba(128, 128, 128, 0.68);
}

.cont:hover .effect {
    background-color: rgba(0, 0, 0, 0);
}

.product-header p {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    color: #414141;
}
