.loader_container {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    /*background: #F2F1EF;*/
    background: #fff;
    height: 100vh;
    z-index: 300;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: all 0.6s;
}

.loader_container p {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #151515;
}

.loader_container p:first-child {
    top: 35%;
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    color: #494848;
}

.loader {
    margin-top: -10px;
    margin-left: -37px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 10px;
    background: #3498DB;
    border-radius: 5px;
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
}

.loader:before,
.loader:after {
    position: absolute;
    display: block;
    content: "";
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
}

.loader:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #EF4836;
}

.loader:after {
    bottom: -20px;
    width: 35px;
    background: #F5AB35;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}

@keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}
